@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--Mobile First-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Bootstrap CSS-->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <title>123</title>
</head>
<body>
    <div class="container alert-danger text-center">
        <h1>123</h1>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
